@font-face {
    font-family: 'ClassicRoundMediumRegular';
    src: url('../fonts/ClassicRound-Medium-webfont.eot');
    src: url('../fonts/ClassicRound-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClassicRound-Medium-webfont.woff') format('woff'),
         url('../fonts/ClassicRound-Medium-webfont.ttf') format('truetype'),
         url('../fonts/ClassicRound-Medium-webfont.svg#ClassicRoundMediumRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

// Global Varialbles

$vertical-logo: url('../images/logo-vertical.svg');
$pattern-bg: url('../images/pattern.svg');
$seriffont: 'ClassicRoundMediumRegular';
$sansseriffont: 'Roboto';
	//reds
	$red1: rgba(237, 33, 36, 1);
	$red2: rgba(172, 31, 31, 1);
	$red3: rgba(109, 16, 17, 1);

	//blues
	$blue1: rgba(0, 103, 140, 1);
	$blue2: rgba(22, 84, 118, 1);
	$blue3: rgba(16, 63, 95, 1);

	//yellows
	$yellow1: rgba(251, 210, 44, 1);
	$yellow2: rgba(250, 162, 34, 1);
	$yellow3: rgba(226, 148, 31, 1);

html,body{
	color: #666;
}
p{
	font-weight: 300;
}
#container{
	background-color: rgba(255,255,255,0.5);
	padding-top: 20px;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'ClassicRoundMediumRegular';
	font-weight: normal;
	
}
h2.section-header{
	text-align: center;
	color: $red2;
}
.row{
	h3{
		text-transform: uppercase;
		font-size: 1.2em;
		color: $yellow3;
		text-align: center;
	}
}
body{
	background-image: $pattern-bg;
	background-color: #f1f1f1;
}
.top-page{
	padding-top: 100px;
}
h1#coming-soon-logo{
	background-image: $vertical-logo;
	background-size: 400px 400px;
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	height: 300px;
	clear: both;
	text-indent: -999px;
	overflow: hidden;

}
#tagline{
	margin: 0px auto;
	width: 320px;
	text-align: center;
	font-family: $seriffont;
	padding-bottom: 100px;
	color: $red2;
	font-size: 1.5em;
	border-top: 2px solid #5A5B5B;
	padding-top: 5px;
	span{
		color: #5A5B5B;
	}
}
#about{
	padding-top: 40px;
}
#quick-details{
	text-align: center;
	
}
#how-do-i-join{
	background-color: rgba(255,255,255,0.8);
}
#participants{
	margin-top: 100px;
	padding-top: 60px;
}
#teams{
	#designer,#developer,#project-manager{
		text-align: center;
		font-size: 0.8em;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
}
.role-logo{
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
	text-align: center;
}
#about-caritakathon{
li{
		display: block;
		font-size: 0.9em;
		background-image: url('../images/logo-grey.svg');
		background-repeat: no-repeat;
		background-position: left center;
		background-size: 50px;
		padding-left: 60px;
		strong{
			display: block;
			font-size: 1.3em;
			margin-top: 15px;
			color: $red2;
		}
	}
}
#registration{
	margin-top: 60px;
}