// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

// Global Varialbles

$vertical-logo: url('../images/logo-vertical.svg');
$pattern-bg: url('../images/pattern.svg');

	//reds
	$red1: rgba(237, 33, 36, 1);
	$red2: rgba(172, 31, 31, 1);
	$red3: rgba(109, 16, 17, 1);

	//blues
	$blue1: rgba(0, 103, 140, 1);
	$blue2: rgba(22, 84, 118, 1);
	$blue3: rgba(16, 63, 95, 1);

	//yellows
	$yellow1: rgba(251, 210, 44, 1);
	$yellow2: rgba(250, 162, 34, 1);
	$yellow3: rgba(226, 148, 31, 1);

html,body{
	width: 100%;
	height: 100%;
}
body{
	background-image: $pattern-bg;
	background-size: 98px 123px;
}
.row{
}
h1#coming-soon-logo{
	margin-top: 100px;
	background-image: $vertical-logo;
	background-size: 400px 400px;
	background-position: center center;
	display: block;
	height: 300px;
}
